body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#icon {
    padding: 20px;
}

.classItem{
    margin: 200px;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: red;
}

.form {
    display: flex;
    flex-direction: column

}
.hero {
    display: flex;
    flex-direction: column;
}

#heroTitle {
    font-family: Avenir Next;
}

#heroSub {
    font-family: Roboto-Regular ;
}

.footer {
    display: flex;
    justify-content: flex-end;
}