body {
    display: flex;
    flex-direction: column;
    color: white;
    align-self: center;
    background-color: black;
    background-image: url("background.png");
    background-size: auto;
    background-repeat: no-repeat;
}
#stampLogo {
    height: 25px;
    width: 70px;
}
.allExFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-image: image("background.png");
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
}

#headerChoices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow:2;
    flex-shrink: 1;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 200px;
    font-size: x-small;
}

#stamp {
    display: flex;
    flex-shrink: 0;
}

.headerChoice {
    padding-left: 10px;
    padding-right: 10px;
}

#hamburgerButton {
    background-color: #2a90cb;
    color: white;
}

#hamburgerItems {
    display: flex;
    flex-direction: column;
}

.dropdownMenu {
    overflow: hidden;
    position: relative;
}

.dropdownMenu #hamburgerItem {
    display: none;
}

.form {
    display: flex;
    flex-direction: column
}

.inputsWithButton{
    display: flex;
    flex-direction: column;
    border-color: white;
    border-width: 10px;
}

input {
    height: 30px;
    background-color: rgba(240, 240, 240, 0.9);
}

input:focus {
    background-color: #edf5f9;
}

input:hover {
    background-color: #edf5f9;
}

#submitButton {
    height: 30px;
    background-color: #56abdc;
    color: white;
    min-width: 300px;
}

#submitButton:hover {
    background-color: #2a90cb;
}

.formSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 200px;
}

.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
    font-family: Roboto;
}

.clickable:hover{
    padding-top: 2px;
}

a:link {
    color: white;
    text-decoration: none;

}

a:visited {
    color: white;
    text-decoration: none;
}

#serviceLink {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: small;
    font-weight: bold;
    font-family: Roboto
}

#serviceText {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: small;
    padding-top: 10px;
    font-size: x-small;
    font-family: Roboto;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: space-between;
    padding-bottom: 3rem;
    position: absolute;
    font-family: Tahoma;
    font-size: small;
    bottom: 0;
    width: 100%;
    height: 1rem;
    font-family: Roboto
}

#footerItems {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 2;
    padding-left: 400px;
}
#formTitle {
    font-family: Roboto;
    font-size: small;
}